<p style="color: green"><%= notice %></p>

<%= render @category_payment %>

<div>
  <%= link_to "Edit this category payment", edit_category_payment_path(@category_payment) %> |
  <%= link_to "Back to category payments", category_payments_path %>

  <%= button_to "Destroy this category payment", @category_payment, method: :delete %>
</div>
