<div class="container forget-password mt-5">
            <div class="row">
                <div class="col-md-12 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <img src="https://i.ibb.co/rshckyB/car-key.png" alt="car-key" border="0">
                                <h2 class="text-center">Forgot Password?</h2>
                                <p>You can reset your password here.</p>
                               
                                    <div class="form-group">
                                    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                                        <%= render "devise/shared/error_messages", resource: resource %>

                                        <div class="field">
                                            <%= f.label :email %><br />
                                            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                                        </div>

                                        <div class="actions">
                                     <%= f.submit "Reset password ", class:"btn btn-sl btn-primary mt-2 btn-block btnForget"  %>
                                  </div>
                              <% end %>
                            <%= link_to "Back", :back, class: "btn btn-sl btn-dark mt-2 btn-block btnForget"%>
                         </div>
                      <div class="form-group">
                  </div>
              </form>
            </div>
          </div>
       </div>
    </div>
  </div>
</div>>
