<section class='transactions-wrapper'>

  <navbar class="navbar2-wrapper">
   <%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i>'.html_safe, root_path, class: 'back'%>
   <h4>PAYMENTS</h4>
  </navbar>

 <div class="transactions-body">
  
  <small class="icon-name">
    <img src="<%= @category.icon %>", class= 'category-icon'>
    <p><%= @category.name %></p>
  </small>

  <div>
  <hr class= "line"></hr>
    <% @payments.each do |e|%>
      <small class='single-transaction'>
        <span class=name-date>
          <h4 class='transaction-name'>Payment <%= e.payment.name %></h4>
          <% Time::DATE_FORMATS[:custom_datetime] = "%d.%h.%Y at %H.%M"%>
          <h6 class="category-date"><%= e.created_at.to_fs(:custom_datetime)  %></h6> 
        </span>
          <h4 class='transaction-amount'>$ <%= e.payment.amount %></h4>
      </small>
        <hr class= "line"></hr>
    <%end%>
      <div class='total-amount'>
        <h5>TOTAL PAYMENT</h5>
        <h5>$ <%= @total %></h5>
      </div>
    </div>
  </div>

  <div class='add-transaction'>
    <%= link_to "Add Transaction", new_user_category_payment_path, class: 'btn-transaction'%>
  </div>

</section>
